@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: #000;
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar span a {
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.3s;
}

.navbar span a:hover {
  background-color: blueviolet;
  color: black;
}

/* Section Styles */
section {
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px blueviolet;
  gap: 10px;
}

.about,
.skills,
.projects,
.education,
.contact,
.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2rem;
}

.about .content {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px blueviolet;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid blueviolet;
  height: 40%;
  width: 80%;
  transition: box-shadow 0.3s;
}

.image {
  border-radius: 1%;
  padding: 1rem;
  width: 40%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid blueviolet;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  transform: scale(0.7);
}

.image:hover {
  transform: scale(1);
}

.image img {
  width: 100%;
  height: 100%;
  border: 2px solid blueviolet;
  border-radius: 1%;
  object-fit: cover;
}

.para {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .about .content {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .para,
  .image {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .line__1,
  .line__2 {
    font-size: 0.5rem;
    animation:
      animated-text__1 6s steps(30, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(30, end) 8;
  }
  .about .content,
  .para,
  .image {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .about .content {
    height: 70vh;
  }
  .navbar {
    display: none;
  }
}

/* Text Animation */
.line__1,
.line__2 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(17, 17, 17, 0.9);
}

.line__1 {
  animation:
    animated-text__1 6s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 8;
}

.line__2 {
  animation:
    animated-text__2 5s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) infinite;
  animation-delay: 7s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 17rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 16rem;
  }
}

/* Section Headers */
.about,
#skills,
#projects,
#education,
#contact,
#experience,
#Resume {
  color: blueviolet;
}

#about h1,
#skills h1,
#projects h1,
#education h1,
#contact h1,
#experience h1,
#Resume h1 {
  color: blueviolet;
  text-align: left;
  width: 100%;
  margin-left: 0;
}

.about p,
#contact form input,
#contact form textarea {
  font-size: 18px;
  line-height: 1.5;
}

/* Skills and Education Styles */
.skills ul,
.education ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .skills {
    height: 100vh;
  }
  .skills ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
  }
}

.education ul,
.projects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.education li,
.projects li {
  align-items: center;
  padding: 2rem;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  height: 20rem;
  gap: 1rem;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects li img {
  height: 90%;
  width: 99%;
  border-radius: 0.5rem;
}

.projects a {
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 0;
  background: white;
  border-radius: 0.5rem;
}

.modal-project {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.modal-project .close-dialog {
  width: 40%;
  height: 50%;
}

.project-link {
  background: inherit;
  height: 2.5rem;
  width: 50%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (max-width: 780px) {
  .skills {
    padding-top: 0;
  }
  .skills ul,
  .education li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }
  .skills li {
    padding: 0;
    margin: 0;
  }
  .skills li img {
    width: 100%;
    height: 100%;
  }
  .projects li,
  .education li {
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
    height: 60%;
  }
}

.skills li:hover,
.projects li:hover,
.education li:hover {
  transform: scale(1.1);
}

/* Button Styles */
button,
.close-dialog {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-dialog {
  background-color: red;
  margin-bottom: 0;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .close-dialog {
    width: 20%;
  }
}

/* Dialog Styles */
dialog {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 20rem;
  gap: 20px;
  position: fixed;
  z-index: 100;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid blueviolet;
  transition: background-color 0.3s;
}

@media screen and (max-width: 480px) {
  dialog {
    width: 80%;
    height: 50%;
  }
}

/* Resume Styles */
.Resume a {
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Resume button {
  background-color: blueviolet;
  padding: 0.5rem;
  width: 100%;
  height: 30%;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.Resume img {
  width: 15%;
  height: 5%;
  border: 2px solid blueviolet;
  border-radius: 1%;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .Resume a {
    width: 100%;
  }
  .Resume button {
    width: 80%;
  }
}

/* Contact Section */
#contact form {
  margin-top: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  color: blueviolet;
  text-align: left;
  width: 100%;
  margin-left: 0;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
}

#contact form button {
  background-color: blueviolet;
  color: #fff;
  padding: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  height: 2em;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#contact form button:hover {
  background-color: blueviolet;
  color: #000;
}

.contact a {
  margin-right: 10px;
}

.contact i {
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s;
}

.contact i:hover {
  color: blueviolet;
  scale: 1.5;
}

/* Footer Styles */
.footer {
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
